### Qsys ###

# Exclude everything
/**

# Include directories
# (without this we cannot whitelist files)
!/**/

# Include files with diagrams
!/**/*.qsys

# Backup files are garbage files
/**/*.BAK.qsys

# Include files with modules
!/**/*hw.tcl

# Include gitignore
!.gitignore